/* app css stylesheet */

body{
padding:0;
width:1280px;
margin:auto;
}
.login-page{
  padding-top: 20px;
  height: 400px;
  width:  600px;
  margin: auto;
}
.login-logo{
  height: 60px;
  width:200px;
  margin: auto;
  margin-bottom: 20px;
}
.login-form{
  width: 500px;
  margin: auto;
}
.login-form input{
  width: 300px;
}

.signup-page{
  padding-top: 20px;
  height: 500px;
  width:  500px;
  margin: auto;
}
.signup-form{
  height: 300px;
  width: 500px;
  margin-left: -90px;
}
.signup-form input{
  width: 250px;
}


.forgetpwd-page{
  padding-top: 20px;
  height: 300px;
  width:  500px;
  margin: auto;
}
.verify-form input{
  /*margin: auto;*/
  width: 300px;
}
.setting_tabs{
  height: 400px;
  width: 600px;
  margin: auto;
  margin-top: 60px;
}
.tab-content{
  padding-top: 10px;
}
.grouphover:hover{

background-color: #0081c2;
cursor:pointer;
}


