<style>
.green{
background:#F5FBEF;
border:none;
}
.odd{
background:#f9f9f9;
}
.test_h{
width:1200px;float:left;margin-bottom:10px;
}
.test_h span{
float:left;
width:171px;
display:block;
font-size:16px; font-weight:bold;
}
.test_h img{
}
.test_b{
background:#F9F9F9;
width:1200px;float:left;border-top:1px solid #CCC;border-bottom:1px solid #ccc;
}
.test_b span{
line-height:36px;
float:left;
width:171px;
display:block;
height:36px;
}
table{
-moz-box-shadow: 5px 5px 3px #888888; /* old Firefox */
box-shadow: 5px 5px 3px #888888;
}
</style>
<div class='group_head'> <div class="" style="position:absolute;left:0px;top:0px;min-width:1280px;width:100%;height:40px;background:#23658B;"> <a href="#/smartserver/index"><b style='float:left;color:white;margin-left:10px;margin-top:8px;'>Back</b></a>
		<button type="button" style='float:right;color:white;margin-top:3px;margin-right:10px' ng-click="signout()" class="btn btn-link">Sign Out</button>
		<a style='float:right;color:white;margin-top:3px;' href="#/smartserver/setting/{{username}}"> 
		   <button style='color:white' class='btn btn-link'>Account Settings</button>
		</a>
       </div>
</div>
<div class='group_content' style='float:left;width:1200px;margin-left:40px;margin-top:40px'>
	<div class=''style="margin-top:20px;margin-left:0px">
	    <ul  class="nav nav-pills" id="mytabs">
		  <li class="active">
		    <!-- <a id="testui" href="#tests">Reports</a> -->
		    <a id="testui" ng-click="addRefresh()">Refresh</a>
		  </li>
		</ul>
	</div>
	<div class='tab-content'style='overflow:visible' >
		<div class='tab-pane active' id='tests'>
			<div class="test_h">
			<span>Build</span>
			<span>ID</span>
			<span>Live Devices</span>
			<span>All Devices</span>
			<span>MTBF</span>
			<span>Status</span>
			<span>Report</span>
			</div>
			<div class="test_b" style="" ng-repeat="cycle in cycledata | orderBy : '-livecount'">
			<span><a ng-click="showAndHide($index)" href="">{{cycle.revision}}</a></span>
			<span>{{cycle.cid || "New"}}</span>
			<span>{{cycle.livecount}}</span>
			<span>{{cycle.devicecount}}</span>
			<span>{{mtbf[cycle.cid] || "-"}}</span>
			<span>{{cycle.livecount == 0 | status}}</span>
		<span><img ng-click='report(cycle.cid,cycle.product)' src="img/summary_s.png" width="20" height="20" style="cursor:pointer"></span>
<table class='table table-hover table-bordered' style="width:1150px;margin-left:25px;display:none;background:white">
	<thead><tr>
		<th></th>
		<th>ID</th>
		<th>Starttime </th>
		<th>Endtime</th>
		<th>Device ID </th>
		<th>Tester</th>
        <th>Detail</th>
		<th>Edit</th>
	</tr></thead>
	<tbody>
	<tr ng-repeat="session in cycle.sessions | orderBy : '-status'" ng-switch on='cycle.cid'>
		<td ng-switch on = "session.status">
		    <div ng-switch-default style="height:14px;width:14px">
			<img src='img/arrow_up.png'>
		    </div>
		    <div ng-switch-when=1 style="height:12px;width:12px">
			<img src='img/check.png'>
		    </div>
		</td>	
		<td>
		    <div class="btn-group">
        		<a class="btn btn-info btn-mini dropdown-toggle" data-toggle="dropdown" href="#">{{session.cid || 'Edit'}} </a>
        		<ul ng-switch-when="" class="dropdown-menu">
        	    	    <li><a ng-click='newcycle(session)' href="">New ID</a></li>
        		</ul>
			<ul ng-switch-default class="dropdown-menu">
		    	    <li><a ng-hide="session.cid" ng-click='setcycle(session,cycle.cid)' href="">{{cycle.cid}}</a></li> 
        	    	    <li><a ng-show="session.cid" ng-click='delcycle(session)' href="">Delete ID</a></li>
        		</ul>
        	    </div>
       		</td>	
	<td>{{session.starttime || "NA"}}</td>
	<td ng-switch on = "session.status">
	<div ng-switch-when=1>{{session.endtime || "NA"}}</div>
	<div ng-switch-default class="progress progress-info progress-striped">
	    <div class="bar" style="width: {{session.status | progress | number : 2}}%;color:black">{{session.status | progress | number : 2}}%</div>
	</div>
	</td>
	<td>{{session.IMEI || "NA"}}</td>
        <td>{{session.tester || "NA"}}</td>
  	<td><a href="#/smartserver/group/{{session.gid}}/product/{{session.product}}/{{session.sid}}"><img width="20" height="20" src="img/detail.png"></a></td>
	<td><a ng-click="delSession(session.sid)" href=""><img width="20" height="20" src="img/delete.png"></a></td>
        </tr>
	</tbody>
</table>
			</div>
			


</div>

</div>
