<style>
.green{
background:#F5FBEF;
border:none;
}
.odd{
background:#f9f9f9;
}
</style>
<div class='group_head'>
	<div class="" style="position:absolute;left:0px;top:0px;min-width:1280px;width:100%;height:40px;background:#23658B;">
		<a href="#/smartserver/index"><b style='float:left;color:white;margin-left:10px;margin-top:8px;'>Back</b></a>
		<button type="button" style='float:right;color:white;margin-top:3px;margin-right:10px' ng-click="signout()" class="btn btn-link">Sign Out</button>
		<a style='float:right;color:white;margin-top:3px;' href="#/smartserver/setting/{{username}}"> 
		   <button style='color:white' class='btn btn-link'>Account Settings</button>
		</a>
       </div>
</div>
<div class='group_content' style='float:left;width:976px;margin-left:40px;margin-top:40px;'>
	<div class=''style="margin-top:20px;margin-left:0px">
	    <ul  class="nav nav-pills" id="mytabs">
	         <li class="active">
		    <a id="groupCycles" href="#cycles">Cycles</a>	    	 
		  </li>
		  <li class="">
		    <a id="groupSessions" href="#devices">Devices</a>
		  </li>
		</ul>
	</div>
	<div class='tab-content'style='overflow:visible' >
		<div class='tab-pane' id='devices' >
			<table class='table table-hover' >
				<thead><tr>
					<th></th>
					<th>Cycle</th>
					<th>Revision</th>
					<th>Starttime</th>
					<th>Endtime</th>
					<th>IMEI</th>
					<th>Product</th>
					<th>Tester</th>
                                        <th>Detail</th>
					<th>Edit</th>
				</tr></thead>
			<tbody style='border:none' ng-repeat='session in sessions | orderBy :["-sortcid","-sorttime"]' ng-class-odd="'odd'" ng-switch on='session.endtime'>
		            <tr>
				<td>
				    <div ng-switch-when='' style="height:14px;width:14px">
					<img src='img/arrow_up.png'>
				    </div>
				    <div ng-switch-default style="height:12px;width:12px">
					<img src='img/check.png'>
				    </div>
				</td>	
				<td>
		                    <div class="btn-group">
                	              <a class="btn btn-info btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                        	        {{session.cid || 'Edit'}} 
 	                                <span class="caret"></span>
                            	      </a>
                                      <ul class="dropdown-menu">
                               		<li ng-repeat='cycle in cycles '>
                                          <a ng-click='setcycle(session,cycle.cid)' href="">{{cycle.cid}}</a>
                                	</li> 
                                        <li><a ng-click='newcycle(session)' href="">New Cycle</a></li>
                                        <li><a ng-click='delcycle(session)' href="">Delete Cycle</a></li>
                            	      </ul>
                        	    </div>
                    		</td>	
					<td>{{session.revision || "NA"}}</td>
					<td>{{session.starttime}}</td>
					<td>{{session.endtime || "NA"}}</td>
					<td>{{session.IMEI}}</td>
					<td style='word-break:break-all;'><span>{{session.product || "NA"}}</span></td>
				        <td>{{session.tester}}
                                   	<td><a href="#/smartserver/group/{{session.gid}}/product/{{session.product}}/{{session.sid}}">detail</a></td>
					<td><a href=""  ng-click='delSession({{"session.sid"}})' >delete</a></td>
			    </tr>
			</tbody>
			</table>
		</div>
		<div class='tab-pane active' id='cycles'>
			<table class='table table-striped table-hover' >
				<thead>
					<tr>
						<th>Cycle</th>
						<th>Revision</th>
						<th>Living Devices</th>
						<th>All Devices</th>
						<th>Product</th>
						<th>Report</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='cycle in cycles | orderBy:"-cid"'>
						<td>{{cycle.cid}}</td>
						<td>{{cycle.revision || "NA"}}</td>
						<td>{{cycle.livecount}}</td>
						<td>{{cycle.devicecount}}</td>
						<td>{{cycle.product}}</td>
						<td><a ng-click='report(cycle.cid,cycle.product)' href="">report</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>

<div class='member_content'style='float:left;width:224px;margin-left:40px;margin-top:40px' >
	
	<dl>
		<dt><h3>Members</h3></dt>
		<dd ng-repeat="member in members | orderBy:'role':!reverse">
			<img style='width:30px;height:30px;margin-bottom:5px;' ng-src='{{member.avatar.url}}'>
			<span>{{member.username}}<i style='font-size:10px;'>{{member.role | role}}</i></span>
			<button ng-click='delMember("{{member.username}}")' class='btn btn-mini btn-link'>del</button>

		</dd>
<br><dt><button ng-click='addMember()' class='btn'>Grant Admin...</button></dt>
	</dl>
</div>
<div>
    <script type="text/ng-template" id="myModalContent.html">
<style>
.addMember{
height:auto;
width: 400px;
position:fixed;
left:50%;
margin-left:-200px;
margin-top:100px;
}
</style> 
       <div class="modal-header">
            <h3>Add new Member</h3>
        </div>
        <div class="modal-body">
        <form>
            <label for="name">UserName</label>
            <select ng-model='selected.membername' id='name'>
            	<option ng-repeat="user in users">{{user.username}}</option>
            </select>
            <label for="role">UserRole</label>
            <select ng-model='selected.rolename' id='role'>
                <option value='admin'>admin</option>
            </select>
        </form>
        </div>
    <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div>
