<img id='loading' style='display:none;position:fixed;left:50%;top:50%;margin-top:-64px;margin-left:-64px;' src='img/loading.gif'>
<div class='session_head'>
        <div style="position:absolute;left:0px;top:0px;min-width:1280px;width:100%;height:40px;background:#23658B;">
                <a href="#/smartserver/group/{{groupid}}/product/{{product}}"><b style='float:left;color:white;margin-top:8px;margin-left:10px;'>Back</b></a>
                <button type="button" style='float:right;color:white;margin-right:10px; margin-top:3px' ng-click="signout()" class="btn btn-link">Sign Out</button>
       </div>

</div>
<div class='session_content' style='width:1200px;float:left;margin-left:40px;margin-top:40px;'>

	<div class='session'>
		<table class='table'>
			<thead>
				<tr>
					<th>Planname</th>
					<th>Revision</th>
					<th>IMEI</th>
					<th>Starttime</th>
					<th>Endtime</th>
					<th>Product</th>
					<th>Tester</th>
					<th>EndTid</th>
					<th>Logs</th>
					<th>Total</th>
					<th>Pass</th>
					<th>Fail</th>
					<th>Error</th>
				</tr>
			</thead>
			<tbody>
				<tr >
					<td>{{session.planname}}</td>
					<td>{{session.deviceinfo.revision || "NA"}}</td>
					<td>{{session.deviceinfo.deviceid || "NA"}}</td>
					<td>{{session.starttime}}</td>
					<td>{{session.endtime || "NA"}}</td>
					<td style='word-break:break-all;'>{{session.deviceinfo.product}}</td>
					<td style='word-break:break-all;'>{{session.tester}}</td>
					<td>{{session.endtid || "NA"}}</td>
					<td><div style="position:absolute"><a ng-click='showLogs()' href=''>Logs</a><!----> 
<div id="arrow_down" style="display:none;width:0px;height:0px;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid silver;"</div>
<div id='sessionlogs' style="display:none;position:absolute;z-index:1000;background-color:white;border:2px solid silver;border-radius:10px;left:-{{maxwidth*2/3}}px;top:30px;width:{{maxwidth}}px;padding-bottom:20px;">
	<div style="height:30px;width:100%">
	    <span style="float:left;margin-left:10px;margin-top:10px;font-size:20px">All Session Logs</span>
	    <img ng-click="hideLogs()" style="float:right;margin-right:20px;margin-top:5px;width:20px;height:20px;cursor:pointer" src='img/no.png'>
        </div>
	<hr style="padding:0;margin-top:5px;">
	<div style='float:left;margin-left:10px;width:260px' ng-repeat="log in sessionlogs"><a href="{{baseurl}}{{log.url}}">{{log.filename}}</a></div>
</div></div>
					</td>
					<td><a href='' ng-click="getCases('total')">{{session.summary.total}}</a></td>
					<td><a href='' ng-click="getCases('pass')">{{session.summary.pass}}</a></td>
					<td><a href='' ng-click="getCases('fail')">{{session.summary.fail}}</a></td>
					<td><a href='' ng-click="getCases('error')">{{session.summary.error}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="pagination pagination-centered">
		<ul>
			<li ng-click='prepage()' ng-class='{active:(currentPageNum==1)}'><a href="">&laquo;</a></li>
			<li ng-click="pagenationTo(page)" ng-class='{active:(page.pagenumber + buffer)==pageindex}' ng-repeat="page in totalpage"><a href="">{{page.pagenumber + buffer}}</a></li>
			<li ng-click='nextpage()' ng-class='{active:(currentPageNum == numOfPage)}'><a href="">&raquo;</a></li>
		</ul>		
	</div>
	<div class='cases' >
		<table class='table table-striped table-hover'>
			<thead fixHead style='display:none'>
				<th><input ng-model='master' ng-click="setAllTids()" type="checkbox"></th>
				<th>Tid</th>
				<th>TestCase</th>
				<th>Start Time</th>
				<th>Result</th>
				<th>Log</th>
				<th>Image</th>
				<th><a ng-click='getTids()'  href="">Comments</a></th>
			</thead>
			<thead id='fixHead'>
				<th><input ng-model='master' ng-click="setAllTids()" type="checkbox"></th>
				<th>Tid</th>
				<th>TestCase</th>
				<th>Start Time</th>
				<th>Result</th>
				<th>Log</th>
				<th>Image</th>
				<th><a ng-click='getTids()'  href="">Comments</a></th>
			</thead>
			<tbody>
			<tr ng-repeat='case in cases' ng-switch on="case.result">
                            <td>
                		    <input  ng-model='selected[case.tid]' ng-switch-when="fail" type="checkbox">
                		    <input  ng-model='selected[case.tid]' ng-switch-when="error" type="checkbox">
                	    </td>
			    <td>{{case.tid}}</td>
			    <td>{{case.casename}}</td>
			    <td>{{case.starttime}}</td>
			    <td>{{case.result}}</td>
			    <td> 
				<a ng-switch-when="fail" ng-click='getLog(case.log.url)' href=''>
				log</a>
				<a ng-switch-default href=""></a>
			    </td>
			    <td>
				<a ng-switch-when="fail" ng-click="getImages(case)" href='' >
				image</a>
				<a ng-switch-default href=""></a>
			    </td>
			    <td> 
				  <div ng-mouseenter='setCollapse(case.tid)' ng-mouseleave='delCollapse(case.tid)' >
					{{case.comments.caseresult}} {{case.comments.issuetype}}<br>
				  <div collapse='!collapse[case.tid]'>	
				     <span style='display:block;word-break:break-all;width:150px;max-width:150px;'>
					{{case.comments.commentinfo}}{{case.comments.endsession | endsession}}
				     </span>
				  </div> </div>
			    </td>
			</tr>			
			</tbody>
		</table>
	</div>
</div>

<script type='text/ng-template' id='comments.html'>
	<div class='modal-header'>
	   <h3> Add your comments</h3>
        </div>
        <div style='float:left;margin-left:15px'>
                <textarea placeholder="Add your comments here..." ng-model='selected.comments'  style='margin-top:20px;width:250px;height:200px'></textarea>
        </div>
        <div class='modal-body' style='float:left;width:280;height:auto;margin-left:20px;margin-top:5px'>
                <form class="comment-form" style='float:left;'>
                        <label for="Issue Type">Issue Type</label>
                        <select ng-model='selected.issue'>
                                <option>PhoneHang</option>
                                <option>ForceClose</option>
                                <option>ANR</option>
                                <option>SystemCrash</option>
                                <option>UIFreeze</option>
                                <option>Others</option>
                        </select>
                <label for="Case Result">Case Result</label>
                <select ng-model='selected.caseret'>
                        <option>fail</option>
                        <option>block</option>
                </select><br>
                <label class='checkbox'>
                <input ng-model='selected.endsession' ng-disabled='disable' type='checkbox'>Session ends here?
                </label><br>
                <button type="button" ng-click="commit()" class='btn btn-primary'>Commit</button>
                <button type="button" ng-click="clear()" class='btn btn-primary'>Clear</button>
                </form>
        </div>
</script>
