<div class='signup-page'>	
	<div class="login-logo">
		<img src="img/logo-s.png" class="img-thumbnail">
                
	</div>
<h3>Register New Account</h3>
                <hr>
	<div class="signup-form">
	        
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                      <input ng-model="username" type="text" tabindex="1" required>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls">
                      <input ng-model="password" type="password" tabindex="2" required>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputPassword">Email</label>
                    <div class="controls">
                      <input ng-model="email" type="email" tabindex="3" required>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputPassword">Company</label>
                    <div class="controls">
                      <input ng-model="company" type="text" tabindex="4">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputPassword">Telephone</label>
                    <div class="controls">
                      <input ng-model="telephone" type="text" tabindex="5">
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button type="button" ng-click="signUp()" class='btn btn-primary' tabindex="6">Sign Up</button>
                      <button type="button" ng-click="cancel()" class='btn btn-primary' tabindex="7">Cancel</button>
                    </div>
                  </div>
                </form>
	</div>
</div>